@model DDCA.Areas.MachineService.ViewModels.CarServiceNew

<div id="divContainer">
    @Html.Partial("MachineServiceCar", Model)
</div>

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#StartDate').datetimepicker({
                format: "MM/DD/YYYY"
            }).on('dp.change', function (e) {
                $(this).data('DateTimePicker').hide();
            });
        });

        $(document).ready(function () {
            $('#EndDate').datetimepicker({
                format: "MM/DD/YYYY"
            }).on('dp.change', function (e) {
                $(this).data('DateTimePicker').hide();
            });
        });

    </script>
}