@model DDCA.Areas.Machine.ViewModel.RigNew

<div id="divContainer">
    @Html.Partial("NewRigMachine", Model)
</div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#Region').change(function () {
                var regionId = $(this).val();
                debugger
                $.ajax({
                    type: "post",
                    url: "/Machine/Machines/GetDistrictList?RId=" + regionId,
                    contentType: "html",
                    success: function (response) {
                        debugger
                        $('#District').empty();
                        $('#District').append(response);
                    }
                })
            })
        })
    </script>

    }