
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>DRILLING AND DAM CONSTRUCTION AGENCY</h1>
    <p>The DDCA Management System is the Web Application System designed to store, process and give reports of Survey Data, Drilled Boreholes Data, machines Data( Compressors, cars, Rigs), and machines service data. </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/ddca4.jpg" alt="...">
            <div class="caption">
                <h3>DDCA Laboratory</h3>
                <p>The Laboratory used by DDCA to measure different samples obtained from fields ...</p>
                <p><a href="#" class="btn btn-primary" role="button">read more</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/ddca2.jpg" alt="...">
            <div class="caption">
                <h3>DDCA Machines</h3>
                <p>The DDCA Machines used by DDCA to Drill and Construction of Dams at sites ...</p>
                <p><a href="#" class="btn btn-primary" role="button">read more</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/ddca6.jpg" alt="...">
            <div class="caption">
                <h3>DDCA Workers</h3>
                <p>The DDCA Workers daily Meeting for the evaluation and Progressppp...</p>
                <p><a href="#" class="btn btn-primary" role="button">read more</a></p>
            </div>
        </div>
    </div>
</div>

